# .env.example - generated with dotenvx

# Project Configuration
COMPOSE_PROJECT_NAME=
DOCKER_REGISTRY=

# API Configuration
API_CONTAINER_PORT=
API_INTERNAL_URL=
WEBHOOK_SECRET=


# Web Server Configuration
WEB_CONTAINER_PORT=
WEB_HOST_PORT=

# MongoDB Configuration
MONGO_DB_NAME=

# Mongo Express Configuration
MONGO_EXPRESS_USERNAME=
MONGO_EXPRESS_PASSWORD=
MONGO_EXPRESS_PORT=

# Redis Configuration
REDIS_COMMANDER_PORT=

# Code Running Configuration
VITE_MAX_EXECUTION_WAIT_TIME=

WHEREBY_API_KEY=
LIVEBLOCKS_SECRET_KEY=
LIVEBLOCKS_WEBHOOK_SECRET=