# .env.example - generated with dotenvx

# Project Configuration
ENV_FILE=
ENV_FILE_ENCRYPTED=
NODE_ENV=
RESTART_POLICY=

# API Configuration
API_HOST_PORT=
API_CALLBACK_URL=

# MongoDB Configuration
MONGO_VERSION=
MONGO_PORT=
MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
MONGO_ROOT_URI=""
MONGO_API_URI=""
PRISMA_DB_URL=""

# Redis Configuration
REDIS_VERSION=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_URL=
REDIS_COMMANDER_HOSTS=


# Clerk Authentication
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
VITE_CLERK_PUBLISHABLE_KEY=

# Judge0 Configuration
JUDGE0_URL=
JUDGE0_AUTHENTICATION_HEADER=
JUDGE0_AUTHENTICATION_TOKEN=

# Ollama Configuration
OLLAMA_VERSION=
OLLAMA_MODEL=
OLLAMA_KEEP_ALIVE=
OLLAMA_PORT=
OLLAMA_API_URL=

ENABLE_TINY_LLM=
VITE_ENABLE_TINY_LLM=
