# .env.example - generated with dotenvx

# Project Configuration
ENV_FILE=
ENV_FILE_ENCRYPTED=
NODE_ENV=
LOG_LEVEL=
RESTART_POLICY=

# API Configuration
API_HOST_PORT=
API_URL=

# Vite Proxy Configuration
PROXY_HEADER_KEY=
PROXY_HEADER_VALUE=

# MongoDB Configuration
MONGO_ROOT_URI=""
MONGO_API_URI=""
PRISMA_DB_URL=""

# Redis Configuration
REDIS_URL=
REDIS_COMMANDER_HOSTS=

# Clerk Authentication
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
VITE_CLERK_PUBLISHABLE_KEY=

# Judge0 Configuration
JUDGE0_URL=
JUDGE0_AUTHENTICATION_HEADER=
JUDGE0_AUTHENTICATION_TOKEN=
JUDGE0_RAPIDAPI_HOST=

# ngrok Proxy Configuration
NGROK_AUTH_TOKEN=