# .env.example - generated with dotenvx

COMPOSE_PROJECT_NAME=""
DOCKER_REGISTRY=""
API_CONTAINER_PORT=""
CALLBACK_SECRET=""
WEB_CONTAINER_PORT=""
WEB_HOST_PORT=""
MONGO_DB_NAME=""
MONGO_EXPRESS_USERNAME=""
MONGO_EXPRESS_PASSWORD=""
MONGO_EXPRESS_PORT=""
REDIS_COMMANDER_PORT=""
VITE_MAX_EXECUTION_WAIT_TIME=""
DEEPINFRA_API_KEY=""
OPENAI_API_KEY=""
DEEPSEEK_API_KEY=""
ENABLE_GPT5_NANO=""
VITE_ENABLE_GPT5_NANO=""
ENABLE_DEEPSEEK=""
VITE_ENABLE_DEEPSEEK=""
ENABLE_DEEPINFRA=""
VITE_ENABLE_DEEPINFRA=""
ENV_FILE=""
ENV_FILE_ENCRYPTED=""
NODE_ENV=""
RESTART_POLICY=""
API_HOST_PORT=""
API_URL=""
MONGO_VERSION=""
MONGO_PORT=""
MONGO_ROOT_USERNAME=""
MONGO_ROOT_PASSWORD=""
MONGO_ROOT_URI=""
MONGO_API_URI=""
REDIS_VERSION=""
REDIS_PORT=""
REDIS_PASSWORD=""
REDIS_URL=""
REDIS_COMMANDER_HOSTS=""
CLERK_SECRET_KEY=""
CLERK_PUBLISHABLE_KEY=""
VITE_CLERK_PUBLISHABLE_KEY=""
JUDGE0_URL=""
JUDGE0_AUTHENTICATION_HEADER=""
JUDGE0_AUTHENTICATION_TOKEN=""
OLLAMA_VERSION=""
OLLAMA_MODEL=""
OLLAMA_KEEP_ALIVE=""
OLLAMA_PORT=""
OLLAMA_API_URL=""
